.movie-tag {
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  background: #fcbf49;
  transition: background 0.3s ease;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.movie-tag-idx {
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
  background: hwb(0 82% 18% / 0.774);
  transition: background 0.3s ease;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
